<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <title>github score</title> 
</head>

<body>
  <h1>wtf</h1>
  <form method="post" accept-charset="utf-8">
    <input type="text" name="username" id="" value="{{username}}" />
    <input type="submit" name="" id="" value="get score" /> 
  </form>
  {{notice}}
  <hr />
  <ul>
  {% for g in gs %}
  <li><img src="{{base_url}}{{g.grava_id}}" alt="" /> -- {{g.score}}</li>
  {% endfor %}
    
  </ul>
</body>
</html>
